.customSpin{
        margin-top: 20px;
        background: none; /* Removes the background */
        width: 100px; /* Set the desired width */
        height: 100px; /* Set the desired height */
    
    
}